html, body {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color: #222831;
}

.screen-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}
