<html>
    <head></head>

    <body>
        <div>
            <h1>EXECUTED BY JS</h1>
        </div>
        <button class="start">GET COORDINATES</button>
        <button class="stop">STOP REQUEST</button>
        <p class="text"></p>
 
        <script>
            window.addEventListener('load', () => {
                const COORDS_PATH = '/coordinates_snake.json';
                /**
                 * @QUERY_SELECTOR @see https://developer.mozilla.org/ru/docs/Web/API/Document/querySelector
                 */
                const paragraph = document.querySelector('.text');
                const start = document.querySelector('.start');
                const stop =  document.querySelector('.stop');
                
                let timerId;

                const writeToParagraph = text => paragraph.innerHTML = text;

                /**
                 * @FETCH_API @see https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API
                 */
                const refreshData = () => fetch(COORDS_PATH)
                    .then(response => response.json())
                    .then(jsonData => {
                        const responseStr = JSON.stringify(jsonData);
                        writeToParagraph(responseStr);
                    })
                    .catch(error => {
                        writeToParagraph(error);
                        console.error(error);
                    });


                start.addEventListener('click', () => {
                    /**
                     * @INTERVALS @see https://developer.mozilla.org/ru/docs/Web/API/WindowOrWorkerGlobalScope/setInterval
                     */
                    if(timerId) clearInterval(timerId);

                    timerId = setInterval(refreshData, 2000);
                });

                stop.addEventListener('click', () => {
                    if(timerId) clearInterval(timerId);
                })
            });
        </script>
    </body>
</html>
